<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des catégories</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>
  
   
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary">
    <div class="col-md-6 p-lg-5 mx-auto my-5">
      <h1 class="display-3 fw-bold">Catégories</h1>
      <h3 class="fw-normal text-muted mb-3">Lisez, Apprenez, Partagez.</h3>
      <div class="d-flex gap-3 justify-content-center lead fw-normal">
       
      </div>
    </div>
    </div>
    
     <div class="row mb-2">
  
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary-emphasis">Articles</strong>
          <h3 class="mb-0"> Sport</h3>
          
         <p class="card-text mb-auto">
          </p>
    
            <svg class="bi"><use xlink:href="#chevron-right"/></svg>
         
        </div>
         <div class="col-auto d-none d-lg-block">
           <img src="https://img.freepik.com/photos-gratuite/vue-angle-bas-homme-muscle-meconnaissable-se-preparant-soulever-barre-dans-club-sante_637285-2497.jpg?size=626&ext=jpg&uid=R21982494&ga=GA1.1.1861559707.1694769962&semt=sph"  width="300" height="270">
          <a href="{{ url_for('index', categorie="sports", ) }}" class="icon-link gap-1 icon-link-hover stretched-link">
       
          </a>
         </div>
      </div>
     
    </div>
    
     <div class="col-md-6">
       <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
         <div class="col p-4 d-flex flex-column position-static">
           <strong class="d-inline-block mb-2 text-primary-emphasis">Articles</strong>
           <h3 class="mb-0">Business</h3>
           
          <p class="card-text mb-auto">
           </p>
     
             <svg class="bi"><use xlink:href="#chevron-right"/></svg>
          
         </div>
          <div class="col-auto d-none d-lg-block">
            <img src="https://img.freepik.com/photos-gratuite/close-up-affaires-tablette-numerique_1098-549.jpg?w=826&t=st=1703185252~exp=1703185852~hmac=0b1002de18f017549dcc409c1bda0a19ba25eb434af85371b8abd2befb0d4cd0"  width="300" height="270">
           <a href="{{ url_for('index', categorie="business", ) }}" class="icon-link gap-1 icon-link-hover stretched-link">
        
           </a>
          </div>
       </div>
      
     </div>
     
    </div>
</body>
</html>